<script src="/alumni/js/scripts/Forgot-Password.js"></script>

<!-- Header -->
<header id="header"
	class="header modern-header modern-header-theme-colored2">
	<div class="header-top bg-theme-colored2 sm-text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="widget text-white">
						<ul class="list-inline xs-text-center text-white">
							<li class="m-0 pl-10 pr-10"><a href="javascript:void(0)"
								class="text-white"><i class="fa fa-phone text-white"></i>
									1800-425-2422</a></li>
							<li class="m-0 pl-10 pr-10"><a href="javascript:void(0)"
								class="text-white"><i
									class="fa fa-envelope-o text-white mr-5"></i> support@apssdc.in</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 pr-0">
					<!-- <div class="widget">
                                <ul class="styled-icons icon-sm pull-right flip sm-pull-none sm-text-center mt-5">
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook text-white"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter text-white"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google-plus text-white"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-instagram text-white"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-linkedin text-white"></i></a></li>
                                </ul>
                            </div> -->
				</div>
				<div class="col-md-3">
					<ul
						class="list-inline sm-pull-none sm-text-center text-right text-white mb-sm-20 mt-10">
						<li class="m-0 pl-10"><a href="javascript:void(0);"
							onclick="Alumni.showLogin();"
							class="btn btn-default btn-transparent btn-flat btn-xs font-weight-bold"
							style="margin-right: 20px;"><i class="fa fa-user-o mr-5"></i>
								Login </a></li>
						<li class="m-0 pl-0 pr-10"><a href="javascript:void(0);"
							onclick="Alumni.showRegister();"
							class="btn btn-default btn-transparent btn-flat btn-xs font-weight-bold"><i
								class="fa fa-edit mr-5"></i>Register</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header-middle p-0 bg-light xs-text-center">
		<div class="container-fluid pt-5 pb-5">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="widget text-center">
						<a class="" href="javascript:void(0);"><img
							src="images/ap_aproved-newheader.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-nav">
		<div class="header-nav-wrapper navbar-scrolltofixed">
			<div class="container">
				<nav id="menuzord" class="menuzord blue">
					<ul class="menuzord-menu">
						<li><a href="javascript:void(0);"
							onclick="Alumni.showHome();">Home</a></li>
						<li><a href="javascript:void(0);"
							onclick="Alumni.showHome();">About</a></li>
						<li><a href="javascript:void(0);"
							onclick="Alumni.showJobs();">Jobs</a></li>
						<li><a href="javascript:void(0);"
							onclick="Alumni.showInternships();">Internships</a></li>
						<li><a href="javascript:void(0);"
							onclick="Alumni.showEvents();">Events</a></li>
						<li><a href="javascript:void(0);"
							onclick="Alumni.showVolunteers();">Volunteers</a></li>
						<li><a href="javascript:void(0);"
							onclick="Alumni.showHome();">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>

<!-- Start main-content -->
<div class="main-content" id="ForgotPasswordDiv"
	data-ng-controller="ForgotPasswordController">
	<!-- Section: inner-header -->
	<section
		class="inner-header divider layer-overlay overlay-theme-colored-7"
		style="background-image: url(/alumni/images/typingcomputer.jpg);">
		<div class="container pt-120 pb-60">
			<!-- Section Content -->
			<div class="section-content">
				<div class="row">
					<div class="col-md-6">
						<h2 class="title text-theme-colored2">Forgot Password</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section: Contact -->
	<section style="background-image: url(/alumni/images/pattern/p5.png);">
		<div class="container">
			<div class="section-title text-center">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-uppercase font-28 mt-0">
							<span class="text-theme-colored">Forgot</span> Password
						</h2>
					</div>
				</div>
			</div>
			<div class="section-content">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6"
						style="border: 2px solid #222655; border-radius: 15px; padding: 40px">

						<div class="row">
							<div class="form-group col-sm-12">
								<label for="form-login-username">Email</label> <input
									type="text" class="form-control" id="form-login-username"
									data-ng-model="data.object.username">
							</div>
							<!-- /.form-group -->

							<div class="form-group col-sm-12" id="otp-field"
								style="display: none">
								<label for="form-login-password">OTP</label> <input type="text"
									class="form-control"
									id="form-login-otp" data-ng-model="data.object.otp">
							</div>
							<div class="form-group col-sm-12" id="password-field"
								style="display: none">
								<label for="form-login-password">Password</label> <input
									type="password" class="form-control" id="form-login-password"
									data-ng-model="data.object.password">
							</div>
						</div>

						<div class="form-group" id="sendOtpBTN">
							<button type="button"
								class="btn btn-dark btn-theme-colored btn-flat btn-block"
								data-ng-click="SendOtp(data.object)">Send OTP</button>
						</div>
						<div class="form-group" id="verifyOtpBTN" style="display: none">
							<button type="button"
								class="btn btn-dark btn-theme-colored btn-flat btn-block"
								data-ng-click="VerifyOtp(data.object)">Verify OTP</button>
						</div>
						<div class="form-group" id="updatePasswordBTN" style="display: none">
							<button type="button"
								class="btn btn-dark btn-theme-colored btn-flat btn-block"
								data-ng-click="UpdatePassword(data.object);">Update Password</button>
						</div>


					</div>
					<div class="col-md-3"></div>

				</div>
			</div>
		</div>
	</section>
</div>

<script type="text/javascript">
	jQuery(document).ready(
			function() {
				angular.bootstrap(jQuery("#ForgotPasswordDiv"),
						[ 'ForgotPasswordModule' ]);
			});
</script>