<script src="/alumni/js/scripts/admin/activeJobReports.js"></script>

<!-- start page title -->
<div class="row align-items-center">
	<div class="col-sm-6">
		<div class="page-title-box">
			<h4 class="font-size-18">Active Job reports</h4>
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="javascript: void(0);"><i
						class="fa fa-home"></i></a></li>   
				<li class="breadcrumb-item"><a href="javascript: void(0);">Reports</a></li>
				<li class="breadcrumb-item active">Job Reports</li>
			</ol>
		</div>
	</div>
</div>
<!-- end page title -->

<div class="row clearfix" id="JobpostDiv"
	data-ng-controller="ActiveJobController">
	<div class="col-md-12 col-sm-12">
		<div id="activestudents">
			<div class="card">
				<div class="card-header bg-primary text-white">
					<h4 class="card-title">Active Jobs</h4>
				</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered table-hover no-wrap">
						<thead>
							<tr>
								<th>Job Name</th>
								<th>Company Name</th>
								<th>Location</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Created By</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="Data in ApprovedJobs">
								<td><a href="" data-ng-click="getJobsData(Data.id);">{{Data.title}}</a></td>
								<td>{{Data.company_name}}</td>
								<td>{{Data.location}}</td>
								<td>{{Data.created_date}}</td>
								<td>{{Data.end_date}}</td>
								<td>{{Data.name}}</td>
							</tr>
							
							<tr id="emptyrow" style="display: none">
                            <td colspan="6" class="text-center">No Data Available</td>
                        </tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="individualjobdata">
			<div class="card">
				<div class="card-header bg-primary text-white">
					<h4 class="card-title">Job Applicants</h4>
				</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered table-hover no-wrap">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Mobile Number</th>
								<th>Date Applied</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="AData in JobApplicants">
								<td>{{AData.name}}</td>
								<td>{{AData.email}}</td>
								<td>{{AData.mobile_no}}</td>
								<td>{{AData.date_created | date : 'dd-MM-yyyy'}}</td>
							</tr>
							
							<tr id="emptyrow" style="display: none">
                            <td colspan="4" class="text-center">No Data Available</td>
                        </tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>



</div>

<script>
	$("#activestudents").show();
	$("#individualjobdata").hide();
	$("#appliedJobsInterns").hide();
	jQuery(document).ready(function() {
		angular.bootstrap(jQuery("#JobpostDiv"), [ 'activeJobReports' ]);
	});
</script>