<script src="/alumni/js/scripts/admin/AllVolunteership.js"></script>
<!-- start page title -->
<div class="row align-items-center">
	<div class="col-sm-6">
		<div class="page-title-box">
			<h4 class="font-size-18">All volunteerships</h4>
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="javascript: void(0);"><i
						class="fa fa-home"></i></a></li>
				<li class="breadcrumb-item"><a href="javascript: void(0);">Volunteerships</a></li>
				<li class="breadcrumb-item active">All volunteerships</li>
			</ol>
		</div>
	</div>
</div>
<!-- end page title -->

<div id="viewvolunteershipdiv"
	data-ng-controller="VolunteershipsViewController">
	<div class="row clearfix">

		<div class="col-md-6 col-sm-12"
			data-ng-repeat="volunteers in volunteersdata">
			<div class="card border border-primary">
				<div class="card-body">
					<div class="media">
						<div class="media-body">
							<h5 class="mt-0 font-16">{{volunteers.technologies}}</h5>
							<span>{{volunteers.username}}</span>
							<ul class="list-group mt-2" style="flex-direction: row;">
								<li class="list-group-item"><i class="ti-briefcase mr-2"></i>{{volunteers.experience}}</li>
								<li class="list-group-item"><i
									class="fas fa-envelope-square mr-2"></i>{{volunteers.email}}</li>
								<li class="list-group-item"><i class="ti-calendar mr-2"></i>{{volunteers.start_date
									| date: 'dd MMM, yyyy'}} - {{volunteers.end_date | date: 'dd
									MMM, yyyy'}}</li>
							</ul>
							<p>{{volunteers.description}}</p>

							<!-- <button type="button" class="btn btn-success"
								data-ng-click="Applyvolunteer(volunteers.id);"
								id="get-applicants">
								<i class="fa fa-paper-plane mr-2"></i>Apply
							</button> -->
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script>
	jQuery(document).ready(function() {
		angular.bootstrap(jQuery("#viewvolunteershipdiv"), [ 'AllVolunteership' ]);
	});
</script>