<script src="/alumni/js/scripts/admin/closeInternships.js"></script>

<!-- start page title -->
<div class="row align-items-center">
	<div class="col-sm-6">
		<div class="page-title-box">
			<h4 class="font-size-18">Close Internships</h4>
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="javascript: void(0);"><i
						class="fa fa-home"></i></a></li>
				<li class="breadcrumb-item"><a href="javascript: void(0);">Internships</a></li>
				<li class="breadcrumb-item active">Close Internships</li>
			</ol>
		</div>
	</div>
</div>
<!-- end page title -->

<div class="row clearfix" id="internActionDiv"
	data-ng-controller="InternActionController">
	<div class="col-md-12 col-sm-12 mx-auto">
		<div class="card border border-primary">
			<div class="card-header bg-primary text-center text-white">
				<h4 class="card-title text-centernter">Close Internships</h4>
			</div>
			<div class="card-body table-responsive">
				<table class="table table-bordered table-hover nowrap">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Title</th>
							<th>Company Name</th>
							<th>Location</th>
							<th>Contact Email</th>
							<th>Duration</th>
							<th>Created Date</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="Intern in allOpeninterns">
							<td>{{$index+1}}</td>
							<td>{{Intern.title}}</td>
							<td>{{Intern.company_name}}</td>
							<td>{{Intern.location}}</td>
							<td>{{Intern.contact_email}}</td>
							<td>{{Intern.duration}}</td>
							<td>{{Intern.created_date | date : 'dd-MM-yyyy'}}
							<td>{{Intern.status_type}}</td>
							<td><button class="btn btn-danger btn-sm"
									data-ng-click="changeInternStatus(Intern);">
									<i class="fa fa-times mr-2"></i>Close
								</button>
						</tr>

						<tr id="emptyrow" style="display: none">
							<td colspan="9" class="text-center">No Data Available</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
    jQuery(document).ready(function() {
        angular.bootstrap(jQuery("#internActionDiv"), ['internAction']);
    });
</script>