<script src="/alumni/js/scripts/admin/OpenEventReports.js"></script>

<!-- start page title -->
<div class="row align-items-center">
	<div class="col-sm-6">
		<div class="page-title-box">
			<h4 class="font-size-18">Active Events</h4>
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="javascript: void(0);"><i
						class="fa fa-home"></i></a></li>
				<li class="breadcrumb-item"><a href="javascript: void(0);">Reports</a></li>
				<li class="breadcrumb-item active">Events Reports</li>
			</ol>
		</div>
	</div>
</div>
<!-- end page title -->

<div class="row clearfix" id="JobpostDiv"
	data-ng-controller="OpenEventController">
	<div class="col-md-12 col-sm-12">
		<div id="activestudents">
			<div class="card border border-primary">
				<div class="card-header bg-primary text-center text-white">
					<h4 class="card-title text-centernter">Active Events</h4>
				</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered table-hover no-wrap">
						<thead>
							<tr>
								<th>Event Title</th>
								<th>Event Type</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Location</th>
								<th>Organizer</th>
								<th>Created By</th>
								<th>Created Date</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="eventData in allOpenEvents">
								<td><a href=""
									data-ng-click="getEventApplicants(eventData.id)">{{eventData.event_title}}</a></td>
								<td>{{eventData.eventtype}}</td>
								<td>{{eventData.start_date | date : 'dd-MM-yyyy'}}</td>
								<td>{{eventData.end_date | date : 'dd-MM-yyyy'}}</td>
								<td>{{eventData.location}}</td>
								<td>{{eventData.organizer}}</td>
								<td>{{eventData.created_by}}</td>
								<td>{{eventData.created_date | date : 'dd-MM-yyyy'}}</td>
							</tr>

							<tr id="emptyrow" style="display: none">
								<td colspan="8" class="text-center">No Data Available</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="activeEventsApplicants">
			<div class="card border border-primary">
				<div class="card-header bg-primary text-center text-white">
					<h4 class="card-title text-centernter">Event Applicants</h4>
				</div>
				<div class="card-body table-responsive">
					<table class="table table-bordered table-hover nowrap">
						<thead>
							<tr>
								<th>S.No</th>
								<th>Name</th>
								<th>Email</th>
								<th>Mobile Number</th>
								<th>Applied On</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="openEvent in allOpenEventsApplicants">
								<td>{{$index+1}}</td>
								<td>{{openEvent.name}}</td>
								<td>{{openEvent.email}}</td>
								<td>{{openEvent.mobile_no}}</td>
								<td>{{openEvent.date_created | date : 'dd-MM-yyyy'}}</td>
							</tr>
							<tr id="emptyrow" style="display: none">
								<td colspan="5" class="text-center">No Data Available</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>



</div>

<script>
	$("#activestudents").show();
	$("#activeEventsApplicants").hide();
	jQuery(document).ready(function() {
		angular.bootstrap(jQuery("#JobpostDiv"), [ 'OpenEventReports' ]);
	});
</script>