<script src="assets/js/scripts/CreateEvent.js"></script>


<div class="main">
	<div class="document-title">
		<div class="container">
			<h1 class="center">Event Creation</h1>
		</div>     
		<!-- /.container -->
	</div>
	<!-- /.document-title -->

	<div class="container" id="EventCreationDiv"
		data-ng-controller="EventCreationController">
		<form method="get" action="javascript:void(0)"
			enctype="multipart/form-data">

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">     
						<label for="form-register-username">Event Title</label> <input
							type="text" class="form-control"
							data-ng-model="data.object.event_title">
					</div>
					<div class="form-group">
						<label for="form-register-first-name">Start Date</label> <input
							type="date" class="form-control"
							data-ng-model="data.object.start_date">
					</div>
					<div class="form-group">
						<label for="form-login-surname">End Date</label> <input
							type="date" class="form-control"   
							data-ng-model="data.object.end_date">
					</div>
					<div class="form-group">
						<label>Location</label> <input type="text" class="form-control"
							data-ng-model="data.object.location">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="form-group col-sm-6">
							<label>Event Organizer</label> <input type="text"
								class="form-control" data-ng-model="data.object.organizer">
						</div>
						<div class="form-group col-sm-6">
							<label>Organizer Designation</label> <input type="text"
								class="form-control"
								data-ng-model="data.object.organizer_designation">
						</div>
						<!-- /.form-group -->
						<div class="form-group col-sm-12">
							<label>Description</label>
							<textarea class="form-control"
								placeholder="Enter Description Here"
								data-ng-model="data.object.description" style="height: 200px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="center">
				<button type="submit" class="btn btn-secondary"
					data-ng-click="CreateEvent(data.object);">Create Event</button>
			</div>
		</form>
	</div>

</div>
<script>
	jQuery(document).ready(function() {
		angular.bootstrap(jQuery("#EventCreationDiv"), [ 'CreateEvent' ]);
	});
</script>
